@font-face {
  font-family: "narkis";
  src: url("narkis.ttf") format("truetype");
}

#innerContent {
  background-color: black;
  font-size: 32px;
  position: relative;
  /* this is the time of the whole animation loop */
  animation: sweep 25s infinite ease-in-out;
}

/* this is the most fun part */
@keyframes sweep {
  0% {
    right: -40%;
  }
  30% {
    right: 20%;
  }
  85% {
    right: 72%;
  }

  100% {
    right: 100%;
  }
}

/* this is the black hole in the middle */
#hole {
  z-index: 100;
  position: relative;
  top: 60px;
  box-shadow: 0px 0px 3px 5px black;
  border-radius: 50%;
  background-color: black;
  width: 140px;
  height: 140px;
  margin: 0px;
}

#main {
  /* speed of the spin is defined here */
  animation: rotation 60s linear infinite;
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 3200px;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform-origin: left;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  color: white;
  font-family: narkis;
}
