@font-face {
  font-family: "narkis";
  src: url("narkis.ttf") format("truetype");
}

#innerContent {
  font-size: 32px;
  position: relative;
  /* this is the time of the whole animation loop */
  animation: sweep 20s cubic-bezier(0, 0.69, 0.81, 0.65) infinite;
  right: -30%;
}

/* this is the most fun part */
@keyframes sweep {
  to {
    right: 70%;
  }
}

/* this is the black hole in the middle */
#hole {
  z-index: 100;
  position: fixed;
  top: calc(50vh - 50px);
  right: calc(50vw - 100px);

  box-shadow: 0px 0px 3px 5px black;
  border-radius: 50%;
  background-color: black;
  width: 200px;
  height: 200px;
  margin: 0px;
}

/* this is the black hole in the middle */
#bigHole {
  position: fixed;
  top: calc(50vh - 150px);
  right: calc(50vw - 200px);

  box-shadow: 0px 0px 3px 5px black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 400px;
  margin: 0px;
  animation: appear 11s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  72% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#main {
  /* speed of the spin is defined here */
  animation: rotation 60s linear infinite;
  display: flex;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}

main {
  /* speed of the spin is defined here */
  display: flex;
  width: 100vw;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: black;
}

.circle {
  width: 3200px;
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  top: 50vh;
  transform-origin: left;
  mix-blend-mode: difference;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: narkis;
}
